<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>index</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}" type="text/css"/>
    <script th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center" th:text="${article.articleName}"></h1>
    <h6 class="text-left" th:text="'文章类型'+${article.articleType.articleTypeName}"></h6>
    <h6 th:text="'发布时间'+${article.articleCreateDate}"></h6>
    <h6 th:text="'修改时间'+${article.articleModifyDate}"></h6>
    <hr>
    <p th:text="${article.articleContent}"></p>
</div>

this line will not be displayed.

</body>
</html>