<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>listUsers</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}" type="text/css"/>
    <script th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <table>
        <table>
            <thead>
            <tr>
                <th>用户名</th>
                <th>姓名</th>
                <th>性别</th>
                <th>出生日期</th>
                <th>手机</th>
                <th>Email</th>
                <th>微信号</th>
                <th>描述信息</th>
                <th>注册日期</th>
                <th>角色</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}">
                <td th:text="${user.userName}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.gender}"></td>
                <td th:text="${user.birthday}"></td>
                <td th:text="${user.phone}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.wechat}"></td>
                <td th:text="${user.description}"></td>
                <td th:text="${user.registerDate}"></td>
                <td th:text="${user.role}"></td>

            </tr>
            </tbody>
        </table>
    </table>
</div>

this line will not be displayed.

</body>
</html>