<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>manageUsers</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}" type="text/css"/>
    <script th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>用户ID</th>
            <th>用户名</th>
            <th>姓名</th>
            <th>查看用户信息</th>
            <th>修改用户信息</th>
            <!--            <th>重设用户密码</th>-->
            <th>禁用用户</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${userList}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.userName}"></td>
            <td th:text="${user.name}"></td>
            <td><a th:href="@{'/displayUser?userId='+${user.userId}}">查看</a></td>
            <td><a th:href="@{'/modifyUser?userId='+${user.userId}}">修改</a></td>
            <!--            <td><a th:href="@{'/resetUserPassword?userId='+${user.userId}}">重设</a></td>-->
            <td><a th:href="@{'/lockUser?userId='+${user.userId}}"
                   th:text="${user.isAccountNonLocked}?'当前已启用，点击禁用':'当前已禁用，点击启用'"></a></td>
        </tr>
        </tbody>
    </table>
</div>

this line will not be displayed.

</body>
</html>