<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>modifyArticle</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}" type="text/css"/>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <!--    修改文章的表单-->
    <form th:action="@{/modifyArticle}" method="POST" id="modifyArticleForm">
        <div class="form-group">
            <label for="articleIdInput">文章ID</label>
            <input class="form-control" th:type="text" id="articleIdInput" name="articleId"
                   th:placeholder="${article.articleId}"
                   th:value="${article.articleId}" readonly>
        </div>
        <div class="form-group">
            <label for="articleNameInput">文章名称</label>
            <input type="text" class="form-control" id="articleNameInput" name="articleName"
                   th:value="${article.articleName}">
        </div>
        <div class="form-group">
            <label for="articleTypeNameInput">文章类型</label>
            <select multiple class="form-control" id="articleTypeNameInput" name="articleTypeName">
                <option th:each="articleType:${articleTypeList}" th:text="${articleType.articleTypeName}"
                        th:value="${articleType.articleTypeName}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="articleModifyDateInput">修改日期</label>
            <input type="text" class="form-control" id="articleModifyDateInput" name="modifyDate"
                   th:value="${#dates.format(#dates.createNow(), 'YYYY/MM/dd')}" readonly>
        </div>
        <div class="form-group">
            <label for="articleContentInput">文章内容</label>
            <textarea class="form-control" id="articleContentInput" name="articleContent"
                      th:text="${article.articleContent}">
        </textarea>
        </div>
        <button type="button" class="btn btn-primary" id="modifyArticleFormSubmit">修改</button>
    </form>
    <br>
    <!--    文章修改成功的回传信息-->
    <div id="msg"></div>
    <div id="articleName"></div>
    <div id="articleContent"></div>

    <!--    获取文章当前用户文章列表的按钮-->
    <button type="button" class="btn btn-primary" id="getArticleList">获取文章列表</button>

    <!--    文章列表-->
    <table class="table table-hover" id="articleList">
        <thead>
        <tr>
            <th>文章ID</th>
            <th>文章名称</th>
            <th>文章内容</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script>
        $(function () {
            // 修改文章的ajax
            $("#modifyArticleFormSubmit").click(function () {
                $.post({
                    url: "/modifyArticle",
                    data: $("#modifyArticleForm").serialize(),
                    success: function (data, status) {
                        $("#msg").text(status);
                        $("#articleName").text(data.articleName);
                        $("#articleContent").text(data.articleContent);
                    }
                })
            })
            // 获取文章的ajax
            $("#getArticleList").click(function () {
                $.get({
                    url: "/getArticlesJson",
                    success: function (data, status) {
                        $("#articleList").empty();
                        for (var index in data) {
                            var row = $("<tr></tr>");
                            var articleId = $("<td>" + data[index].articleId + "</td>");
                            var articleName = $("<td>" + data[index].articleName + "</td>");
                            row.append(articleId);
                            row.append(articleName);
                            $("#articleList").append(row);
                        }
                    }
                })
            })
        })
    </script>
</div>
</body>
</html>