<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>modify</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}" type="text/css"/>
    <script th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <!--    修改文章类型的表单-->
    <form th:action="@{/modifyArticleType}" method="post" id="modifyArticleTypeForm">
        <div class="form-group">
            <label for="articleTypeIdInput">文章类型ID</label>
            <input class="form-control" th:type="text" id="articleTypeIdInput" name="articleTypeId"
                   th:placeholder="${articleType.articleTypeId}"
                   th:value="${articleType.articleTypeId}" readonly>
        </div>
        <div class="form-group">
            <label for="articleTypeNameInput">文章类型名称</label>
            <input th:type="text" class="form-control" id="articleTypeNameInput" name="articleTypeName"
                   th:value="${articleType.articleTypeName}">
            <div class="form-group">
                <label for="articleTypeStatus">文章类型状态</label>
                <select multiple class="form-control" id="articleTypeStatusInput" name="articleTypeStatus">
                    <!--                <c:forEach items="${articleTypeList}" var="articleType">-->
                    <option>enabled</option>
                    <option>disabled</option>
                    <!--                </c:forEach>-->
                </select>
            </div>
        </div>
        <button type="button" class="btn btn-primary" id="modifyArticleTypeFormSubmit">添加</button>
    </form>
    <br>
    <!--    文章类型修改成功的回传信息-->
    <div id="msg"></div>
    <div id="articleTypeName"></div>
    <div id="articleTypeStatus"></div>

    <!--    获取文章当前用户文章类型列表的按钮-->
    <button type="button" class="btn btn-primary" id="getArticleTypeList">获取文章类型列表</button>

    <!--    文章类型列表-->
    <table class="table table-hover" id="articleTypeList">
        <thead>
        <tr>
            <th>文章类型</th>
            <th>文章类型状态</th>
            <th>查看文章</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script>
        $(function () {
            // 修改文章的ajax
            $("#modifyArticleTypeFormSubmit").click(function () {
                $.post({
                    url: "/modifyArticleType",
                    data: $("#modifyArticleTypeForm").serialize(),
                    success: function (data, status) {
                        $("#msg").text(status);
                        $("#articleTypeId").text(data.articleTypeId);
                        $("#articleTypeName").text(data.articleTypeName);
                        $("#articleTypeStatus").text(data.articleTypeStatus);
                    }
                })
            })
            // 获取文章的ajax
            $("#getArticleTypeList").click(function () {
                $.get({
                    url: "/getArticleTypesJson",
                    success: function (data, status) {
                        $("#articleTypeList").empty();
                        for (var index in data) {
                            var row = $("<tr></tr>");
                            var articleTypeName = $("<td>" + data[index].articleTypeName + "</td>");
                            var articleTypeStatus = $("<td>" + data[index].articleTypeStatus + "</td>");
                            row.append(articleTypeName);
                            row.append(articleTypeStatus);
                            $("#articleTypeList").append(row);
                        }
                    }
                })
            })
        })

    </script>


</div>

this line will not be displayed.

</body>
</html>